{% extends 'base.html' %}
{% load static %}

{% block body %}
    <body class='alert-danger' style="background-image: url('{% static "images/rent.jpg" %}')";>
{% endblock body %}

{% block heading %}
    <div class="col-sm-12">
        <h1 class='text-dark alert-danger border border-1 border-dark text-center headtxt'><i class="fa-solid fa-house"></i> PUBLISHED BY <span class='text-primary'>{{username}}</span></h1>
    </div>
{% endblock heading %}

{% block OwnerActivities %}

<div class="conatiner">
    <div class="row">

        
        {% if renthouse or salehouse %}

        {% for house in renthouse %}
        <div class="col-sm-12 p-3">
            <div class='bg-dark'>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-4 p-3">
                                <img src="{{house.house_photos.url}}" height='300px' width='450px'class='border border-4 border-danger'>
                            </div>
                            <div class="col-sm-8 text-light">
                               <div class='mt-1'> 
                                
                                <strong class='text-dark h5 alert-warning'>PUBLISHED FOR RENT</strong><br></div>
                                <strong>About The House:-</strong>
                                <p>{{house.about_house}}</p>
                                <strong>House Type: {{house.house_type}}</strong><br>
                                <strong>Location:-</strong> <p>{{house.house_location}}</p>
                                <strong>House Rent:- {{house.house_rent}}/month</strong> <br>
                                <strong>Owner Name:- {{house.Owner_name}}</strong> <br>
                                <strong>Contact No:- {{house.contact_number}}</strong><br>
                                <small><i>Published On: {{house.publish_date}}</i></small>
                                

                                {% if user.is_superuser or  request.user.is_authenticated  %}
                                <div class="row">
                                    <div class="col-sm-3 pb-1 ">
                                    
                                        
                                    <form action="{% url 'RemoveRentHouse' house.id %}" method='post' class='d-inline' onsubmit="return confirm('Are You Sure To Remove ?')">
                                        {% csrf_token %}
                                        
                                        <button type='submit' class='btn btn-danger btn-sm'>
                                            <i class="fa-solid fa-trash"></i> Remove</button>

                                    </form>
                                    </div> 
                                </div>
                                {% endif %}

                            </div>
                        </div>
                    </div>
            </div>
        </div>   
        {% endfor %}


        {% for house in salehouse %}
        <div class="col-sm-12 p-3">
            <div class='bg-dark'>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-4 p-3">
                                <img src="{{house.house_photos.url}}" height='300px' width='450px'class='border border-4 border-danger'>
                            </div>
                            <div class="col-sm-8 text-light">
                                <div class='mt-1'>
                                    
                                     <strong class='text-dark h5 alert-primary'>PUBLISHED FOR SALE</strong><br></div>
                                <strong>About The House:-</strong>
                                <p>{{house.about_house}}</p>
                                <strong>House Type: {{house.house_type}}</strong><br>
                                <strong>Location:-</strong> <p>{{house.house_location}}</p>
                                <strong>House Price:- {{house.house_price}} Rupees</strong> <br>
                                <strong>Owner Name:- {{house.Owner_name}}</strong> <br>
                                <strong>Contact No:- {{house.contact_number}}</strong><br>
                                <small><i>Published On: {{house.publish_date}}</i></small>

                                {% if user.is_superuser or  request.user.is_authenticated  %}
                                <div class="row">
                                    <div class="col-sm-3 pb-1 ">

                                        <form action="{% url 'RemoveSaleHouse' house.id %}" method='post' class='d-inline' onsubmit="return confirm('Are You Sure To Remove ?')">
                                            {% csrf_token %}
                                            
                                            <button type='submit' class='btn btn-danger btn-sm'>
                                                <i class="fa-solid fa-trash"></i> Remove</button>
                                        </form>
                                    </div>
                                </div>
                                {% endif %}
                                
                            </div>
                        </div>
                    </div>
            </div>
        </div>   
        {% endfor %}

        {% else %}

        <center>
            <div class="col-sm-8 m-4">
                <div class="alert bg-dark text-light text-center" role="alert">
                    <strong>NO HOUSE AND FLATS PUBLISHED BY {{username}}.</strong>
                  </div>
            </div>
        </center>

    {% endif %}

        
    
    </div>
</div>

{% endblock OwnerActivities %}