{% extends 'base.html' %}
{% load static %}

{% block body %}
    <body class='alert-danger' style="background-image: url('{% static "images/lg.png" %}')";>
{% endblock body %}

{% block AuthUser %}
<div class="col-sm-6 ms-2 mt-3 p-2 mt-5 ">
    
    <h2 class='bg-warning text-dark text-center rounded-pill'>LOGIN USER</h2>
    <div class='bg-danger mt-3 p-3 border border-3 border-dark rguser'>
        <form method="post">
            {% csrf_token %}
            {% for fm in form %}
                {{fm}} {{fm.errors|striptags}} <br>
            {% endfor %}
            <input type="submit" value='LOGIN' class='offset-5 text-dark btn btn-info'>
        </form>
    </div>
    <div class='mt-2'>
        <strong class='text-dark fw-bold fs-5 text-decoration-underline'>New User Please Registered Here</strong> &nbsp
        <a href={% url 'RegisterUser' %} class='btn btn-outline-primary fw-bold btn-sm'>REGISTER</a>
    </div>
    {% if form.non_field_errors %}
    
        <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
            <strong>Login Failed!!!</strong> Please enter a correct username and password.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

    {% endif %}
</div>
{% endblock AuthUser %}
