{% extends 'base.html' %}
{% load static %}

{% block body %}
    <body class='alert-danger' style="background-image: url('{% static "images/rg.jpg" %}')";>
{% endblock body %}

{% block AuthUser %}

        <div class="col-sm-6 ms-2 mt-3 p-2">
            <h2 class='bg-success text-light text-center rounded-pill'>REGISTER</h2>
            <div class='rguser mt-3 p-3'>
                <form method="post">
                    {% csrf_token %}
                    {% for fm in form %}
                        {{fm}} <strong class='alert-warning text-danger'>{{fm.errors|striptags}}</strong> <br>
                    {% endfor %}
                    <input type="submit" value='REGISTER' class='offset-5 btn btn-warning'>
                </form>
            </div>
            <div class='mt-2'>
                <strong class='text-dark fw-bold fs-5 text-decoration-underline'>I am Registered User</strong> &nbsp
                <a href={% url 'LoginUser' %} class='btn btn-outline-danger fw-bold btn-sm'> LOGIN HERE</a>
            </div>
            <div class="text-center">
                {% if messages %}
                    {% for message in messages %}
                <div class="alert bg-success text-light " role="alert">
                <strong>{{message}}</strong>
                </div>
                    {% endfor %}
            {% endif %}
            </div>
        </div>

{% endblock AuthUser %}



